<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Jeff Andeko's UI for StackOverflow-lite">
    <meta name="keywords" content="user interface, using html and css">
    <meta name="author" content="Jeff Andeko">
    <title> Home |StackOverflow-lite | Welcome to a platform where developers engage to build one another </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
<!-- The HTML code for Header -->
<header>
    <a href="#" class="header_icon"> <strong>StackOverflow-lite</strong></a>
    <div>
        <ul>
            <li><a href="Sign_up.html" class="sign_up"><strong>Sign Out</strong></a></li>
            <li><a href="Log_in.html"><strong>My Account</strong></a></li>

        </ul>
    </div>
</header>

<!-- HTML code for main section -->

<main id="main">

    <!--- search button for homepage--->

    <div class="main_container">
        <div class="home1_div">
            <div class="side-menu">
                <a href="index_page.html" class="active"><strong>Recent Questions.</strong></a>
                <a href="Ask_question.html"><strong>Ask a question</strong></a>
                <a href="#"><strong>view all questions</strong></a>
                <a href="#"><strong>Resources</strong></a>
                <a href="#"><strong>SO-lite Team</strong></a>
                <a href="#"><strong>Resources</strong></a>
                <a href="#"><strong>work with us</strong></a>
                <a href="#"><strong>Contact us</strong></a>
                <a href="Sign_up.html"><strong>Create an account</strong></a>
            </div>
        </div>

        <div class="home2_div">

            <div class="home_forum">
                <div class="home_forum1">
                    <nav class="top_nav">
                        <form class="search" action="get what you have searched">
                            <input type="text" placeholder="Search here....." name="search">
                        </form>
                    </nav>
                    <div class="done">
                        <h5>.</h5>

                    </div>
                    <h7>Recent Questions</h7>
                </div>
                <div class="homeQuiz_area">
                    <div class="the_user"><strong>Name:</strong> John peterson cxoza</div>
                    <hr>
                    <span class="important"><a href="#"><i class="material-icons">stars</i></a></span>
                    <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a> 10003</span>
                    <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a> 233</span>
                    <span class="date%time">Sunday, 12-8-18, 23:00 hrs</span>
                    <h5>The first questions: what is your objective in this forum, however its is a forum for the<br>
                        best intellectual ideads on we
                        web development</h5>
                    <hr>
                    <div class="the_question">
                        <h5><a href="question_details.html"> click to see more details....</a></h5>
                    </div>

                </div>
                <div class="done">
                    <h5>.</h5>

                </div>
                <div class="homeQuiz_area">
                    <div class="the_user">Name of user</div>
                    <hr>
                    <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a> 1903</span>
                    <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a> 23</span>
                    <span class="date%time">Sunday, 12-8-18, 23:00 hrs</span>
                    <h5> This is the second questions</h5>
                    <hr>
                    <div class="the_question">
                        <h5><a href="question_details.html"> click to see more details....</a></h5>
                    </div>
                </div>
                <div class="done">

                </div>

                <div class="homeQuiz_area">
                    <div class="the_user">Name of user (of question 3)</div>
                    <hr>
                    <span class="important"><a href="#"><i class="material-icons">stars</i></a></span>
                    <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a> 173</span>
                    <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a> 2993</span>
                    <span class="date%time">Sunday, 12-8-18, 23:00 hrs</span>

                    <hr>
                    <div class="the_question">
                        <h5><a href="question_details.html"> click to see more details....</a></h5>
                    </div>

                </div>
                <div class="done">

                </div>
                <div class="homeQuiz_area">
                    <div class="the_user">Name of user( question 4)</div>
                    <hr>
                    <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a> 13</span>
                    <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a> 2765453</span>
                    <span class="datetime">Sunday, 12-8-18, 23:00 hrs</span>
                    <h5>The ffth question.</h5>
                    <hr>
                    <div class="the_question">
                        <h5><a href="question_details.html"> click to see more details....</a></h5>
                    </div>
                </div>
                <div class="done"></div>
            </div>
        </div>
        <div class="home3_div">
            <h1></h1>

        </div>
    </div>
</main>
<!-- html code for page footer-->

</body>
</html>