<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width-device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Jeff Andeko's UI for StackOverflow-lite">
    <meta name="keywords" content="user interface, using html and css">
    <meta name="author" content="Jeff Andeko">
    <title> Questions |StackOverflow-lite | Welcome to a platform where developers engage to build one another </title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<!-- The HTML code for Header -->
<header>
    <a href="#" class="header_icon"> <strong>StackOverflow-lite</strong></a>
    <div>
        <ul>
            <li><a href="#" class="sign_up"><strong>Sign Out</strong></a></li>
            <li><a href="#"><strong>My Account</strong></a></li>

        </ul>
    </div>
</header>
<main class="main">
    <h2>Recent Asked Questions</h2>
    <div class="quiz_details">
        <div class="homeQuiz_area">
            <div class="the_user"><strong>the questions is about making stackoverfloe lite why did you
                give us less time yet they are alot of informationn that one muststude
            </strong>
            </div>

            <div class="homeQuiz_area">
                <span class="important"><a href="#"><i class="material-icons">star</i></a></span>
                <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a></span>
                <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a></span>
                <span class="date%time"><i class="material-icons">comment</i></span>
                <span class="dislikes"><a href="#"><i class="material-icons">delete_forever</i></a></span>

            </div>
        </div>
        <div class="clear"></div>
        <div class="homeQuiz_area">
            <strong>This is an answer</strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
            <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a></span>
            <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a></span>
            <span class="important"><a href="#"><i class="material-icons">stars</i></a></span>
        </div>
        <!-- comment area-->
        <div class="comment_div">
            <form class="answer" action="index.html" method="post">
                <textarea name="comment" rows="2" placeholder="your comment on the question........"
                          cols="85"></textarea>
                <input type="submit" name="Sign-up-button" value="Submit">
            </form>
        </div>
        <!-- another question-->
        <div class="homeQuiz_area">
            <strong>This is another answer</strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
            <span class="likes"><a href="#"><i class="material-icons">thumb_up</i></a></span>
            <span class="dislikes"><a href="#"><i class="material-icons">thumb_down</i></a></span>
        </div>
        <!-- comment area-->
        <div class="comment_div">
            <form class="answer" action="index.html" method="post">
                <textarea name="comment" rows="2" placeholder="your comment on the question........"
                          cols="85"></textarea>
                <input type="submit" name="Sign-up-button" value="Submit">
            </form>
        </div>
        <div class="done">

        </div>

        <h3>Give Your answer here</h3>
        <form class="answer" action="index.html" method="post">
            <textarea name="comment" rows="3" placeholder="Type your answer ....." cols="85"></textarea>
            <button type="button" name="answer_btn" class="signing_button1">click to submit</button>
        </form>
    </div>


</main>
<!-- html code for page footer-->


</body>