import url("https://fonts.googleapis.com/css?family=Anton|Righteous");
 /* === Global CSS code ===*/
 *{
    text-decoration: none;
    box-sizing: border-box;
 }
 body {
    margin: 0;
    font-family:"Courier New", Courier, monospace;
    line-height: 1;
    min-height:100%;
    font-size: 20px;
    text-align: center;
    background-color:(255,255,255);
    opacity:1.5;
 }
 h5 {
    font-size:15px;
    font-weight:500;
    line-height:1;
    color: rgb(3,3,3);
    text-align:left;
}
h5 a {
    background-color:rgb(255,255,261);
    padding:6px 14px;
    position:relative;
    top:-3px;
    border-radius:25px;
    padding: 5px 5px;
}
 h5  a:hover {
    background-color: rgb(0,0,0);
    padding:6px 14px;
    position:relative;
    top:-3px;
    color:rgb(0,255,0);
    border-radius:25px;
    padding: 5px 5px;
}
 a {
    text-decoration: none;
    color:rgb(0,255,0);
    }
 /*=== ==========CSS code for Header section === =======*/
 header {
    background-color:rgb(0,3,0);
    width:100%;
    height:65px;
}
 header .header_icon {
    font-size:25px;
    font-weight:950;
    color:rgb(255,255,255);
    display:block;
 }
header div ul {
    display:block;
    margin:0 auto;
    width:fit-content;
}
 header div ul li {
    float: right;
    list-style: none;
    padding: 0 15px;
    color:rgb(0,255,0);
}
  header ul li a {
    font-size: 20px;
    color:rgb(0,210,0);
    padding:6px 14px;
    position:relative;
    top:-3px;
    border-radius:25px;
    padding: 5px 5px;
}
 header ul li a:hover {
    background-color: rgb(0,0,0);
    padding:6px 14px;
    position:relative;
    top:-3px;
    color:rgb(0,255,0);
    border-radius:25px;
    padding: 5px 5px;
}
  @media only screen and (min-width: 500px) {
    header .header_icon {
        margin:25px 0;
        text-align: left;
        padding: 0 20px 0 40px;
        border-right: 3px solid rgb(3,3,3);
        float: left;
        font-size:25px;
    }
     header div ul {
        margin: 20px 0px 0px 20px;
        float: right;
    }
     header div ul li a {
        line-height: 45px;
    }
}
.sign_up {
    padding:6px 14px;
    position:relative;
    background:rgb(0,130,0);
    top:-3px;
    color:rgb(0,0,0);
    border-radius:25px;
    padding: 5px 5px;
}
 /*== Main section === */
 #main {
    padding:0px;
    margin:-5px;
    line-height:10px
}
 .main_container {
    width:100%;
    height:100%;
    display: table;
    background-color:rgb(255,255,255);
    background-size: cover;
    padding:0px;
}
 div > div {
  display: table-cell;
}
 .first_div {
    width:20%;
    margin:0;
    line-height:50px;
}
.side-menu {
    width:250px;
    height:100%;
    padding:0px;
    padding-left:4px;
    background-color: rgb(237,245,255);
    opacity: .9;
 }
 .side-menu a {
    color:black;
    position:relative;
    float:left;
    display:block;
    padding:12px;
    text-decoration:none;
}
.side-menu a:hover {
    color:rgb(0,255,0);
}
 .side-menu a.active {
    background-color: rgb(3,3,3);
    color: rgb(237,245,255)
}
.second_div {
    width: 80%;
    height:calc(100vh - 100px);
    vertical-align:middle;
  }
 .second_div h1 {
    font-size: 75px;
    font-weight: 1000;
    line-height: 50px;
    color: rgb(3,3,3);
    text-align: center;
    text-shadow: 2px 2px 4px rgb(2,3,3);
}
.second_div h2 {
    font-size: 25px;
    font-weight:500;
    font-style: italic;
    line-height:40px;
    color:rgb(0,255,0);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}
.second_div h3 {
    font-size:15px;
    font-weight:100;
    font-style: bold;
    line-height:20px;
    color:rgb(0,48,0);
    text-align: center;
    text-shadow: 4px 4px 10px (3,10,3);
}
 .signing_button {
    display: inline-block;
    background: rgb(3,3,3);
    color: rbg(237,247,257);
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid rgb(0,6,6);
    margin: .25em 0;
    border-radius:25px;
}
.signing_button1 {
    display: inline-block;
    background: rgb(0,3,3);
    color: rgb(237,247,257);
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid rgb(6,6,6);
    margin: .25em 0;
    border-radius:25px;
}
 .signing_button:hover {
    display: inline-block;
    background: rgb(0,255,0);
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid rgb(0,6,6);
    margin: .25em 0;
    border-radius:25px;
}
  /*=====================================================*/
  /*== CSS for sign up page==*/
 #sign-up {
    position:relative;
    margin:0;
    line-height:40px;
    height:700px;
    box-shadow: 2px 2px 8px rgb(3,3,3);
}
 .sign-email {
    position:relative;
    text-align:center;
    top:0px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
    box-sizing:border-box;
    padding:25px;
    width:850px;
    height:400px;
    color:rgb(0,255,0);
    background-color:rgb(3,3,3);
    opacity:0.9
 }
.sign-email h1 {
    margin:0px 25px 0px 0px;
    font-weight:550;
    font-size:25px;
}
 input[type="text"],
input[type="password"],
input[type=" confirm password"] {
    position:relative;
    height:35px;
    top:8px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    display:block;
    box-sizing:border-box;
    padding:6px;
    width:350px;
    height:45px;
    border:none;
    outline:none;
    border-radius:5px;
 }
 input[type="submit"] {
    margin-bottom:25px;
    margin-top:15px;
    margin-left:0px;
    padding:2px;
    width:150px;
    height:35px;
    color:rgb(0,3,0);
    border-radius:10px;
    background:rgb(0,128,0);
    border:none;
    font-family:"Courier New", Courier, monospace;
    font-size:25px;
    font-weight:1850px;
 }
 input[type="submit"]:hover,
input[type="submit"]:focus {
    background:rgb(173,255,47);
    transition:0.5s ease;
 }
 .sign-social {
    position:relative;
    text-align:center;
    top:0px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
}
.sign-social h1 {
    margin:0px 25px 0px 0px;
    font-weight:550;
    font-size:25px;
 }
 button.sign {
    margin-bottom:20px;
    width:250px;
    height:55px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
 .facebook {
    background:rgb(50, 80, 142);
}
.google {
    background:rgb(221, 75, 57)
}
.github {
    background:rgb(36, 41, 46)
}
 /* ==== Index/homepage css==============*/
 /*search area*/
nav.top_nav {
    background:rgb(255,255,255);
    min-height:50px;
    line-height:50px;
    position:;
    width:100%;
 }
.open {
    width:100%;
    min-height:20px;
    position:relative;
}
 form.search input[type=text] {
    padding:10px;
    line-height:60px;
    font-size:15px;
    border:2px solid black;
    float:center;
    width:100%;
    background:rgb(255,255,255);
    margin:auto;max-width:600px;
    margin:auto;max-height:50px;
}
div > div {
  display: table-cell;
}
 .home1_div {
    width:20%;
    margin:0;
    line-height:3;
    position:relative;
}
 .home2_div {
    width:60%;
    margin:0;
    height:calc(100vh - 100px);
 }
 .home2_div h7 {
    font-size:45px;
    font-weight: 800;
    line-height:1;
    color: rgb(3,3,3);
    text-align:left;
    text-shadow: 2px 2px 4px rgb(2,3,3);
}
  .home_forum {
  float: left;
  margin-left: 1%;
  position:absolute;
  border-radius: 10px;
  width: 100%;
  padding:4%;
}
.done{
    line-height:1;
    min-height:10px;
}
.homeQuiz_area {
  float:left;
  width:100%;
  line-height:1;
  margin-bottom:2px;
  background-color:rgb(250,250,250);
  box-shadow:2px 2px 2px rgb(0,255,0);
  padding:4px;
  border-radius:5px;
}
 .the_user {
  width:100%;
  height:50px;
 }
 .likes {
     width:100%;
     height:50px;
     color:rgb(0,0,255);
}
.likes a{
     color:rgb(0,0,255);
 }
 .dislikes {
     width:100%;
     height:50px;
     color:rgb(255,0,0);
}
 .dislikes a{
     color:rgb(255,0,0);
}
.important {
     width:100%;
     height:50px;
     color:rgb(0,0,255);
}
.important a{
     color:rgb(255,255,0);
  }
 .dislikes {
     width:100%;
     height:50px;
     color:rgb(255,0,0);
}
 .dislikes a{
     color:rgb(255,0,0);
}
 .stars {
     width:100%;
     height:50px;
     color:rgb(255,255,0);
}
 .stars a{
     color:rgb(255,25,255);
}
 .datetime{
     width:100%;
     height:50px;
}
.clear {
     clear: left; display: block;
 }
.the_question {
     width:100%;
     height:50px;
 }
 /*==== question details===*/
 .answer_div{
 }
 .quiz_details {
  float:center;
  margin:5px;
  position:absolute;
  border-radius:10px;
  padding:4%;
}
 .answer textarea {
    width: 100%;
    padding: 6px 15px;
    margin: 4px 0;
    display:inline-block;
    border-radius:15px;
    border: 2px solid rgb(0,0,0);
    box-sizing: border-box;
    opacity: 0.5;
    font-size:25px;
    font-weight:bold;
    color:rgb(0,0,0);
 }
/*=== third home div ==*/
 .home3_div {
    width:20%;
 }
 /* material icon features */
 .material-icons {
  font-family:'Material Icons';
  font-weight:normal;
  font-style:normal;
  font-size:64px;
  display: inline-block;
  line-height:1.5;
  text-transform:none;
  letter-spacing:normal;
  word-wrap: normal;
  white-space: nowrap;
  direction:ltr;
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}
 /*============= footer css=================*/
 #footer {
    padding: 1px;
    background-color: rgb(3,3,3);
    color: rgb(215,225,275);
    text-align:center;
    line-height:10px;
  }
 @media only screen and (min-width: 800px) {
    #footer ul {
        padding-right: 10px;
    }
}